[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MusadiqSoso
[access "refs/for/refs/*"]
	read = group user/MusadiqSoso
	push = group user/MusadiqSoso
	label-Code-Review = -2..+2 group user/MusadiqSoso
	label-Verified = -1..+1 group user/MusadiqSoso
	rebase = group user/MusadiqSoso
	removeReviewer = group user/MusadiqSoso
	submit = group user/MusadiqSoso
[access "refs/heads/*"]
	read = group user/MusadiqSoso
	create = group user/MusadiqSoso
	push = +force group user/MusadiqSoso
	pushMerge = group user/MusadiqSoso
[access "refs/tags/*"]
	push = group user/MusadiqSoso
	push = +force group user/MusadiqSoso
